[Unit]
Description=Change Tor IP Address every 300 seconds for user %i
After=network.target

[Service]
Type=simple
User=%i
ExecStart=/home/%i/change_tor_ip.sh
Restart=always
RestartSec=300

[Install]
WantedBy=multi-user.target

